.login-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
   
  
  .login-container form label {
    display: block;
    margin-bottom: 5px;
  }
  
   
  
  .login-container form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
   
  
  .login-container form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
   
  
  .login-container form button:hover {
    background-color: #0056b3;
  }



  :host {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  .error {
    padding: 16px;
    width: 300px;
    color: white;
    background-color: red;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
  }
  
  .example-disabled {
    display: inline-block;
  }